@charset "UTF-8";

.body {
	display: grid;
	grid-template-columns:  100fr 3fr 20fr;  /* 3fr 1fr 1fr;  */
	grid-template-rows: auto 1fr 3fr;
	grid-template-areas:
		"title title title"
		"main header header"
		"main sidebar footer";
}
.page-title {
	grid-area: title;
	/* background: #c6d8d3; */
	/* margin: auto; */
	display: block;
	align:center; text-align:center;
	height:100%;
	max-height: 500px;
	/* background-color: #2392bd; */
/* 	background-image: radial-gradient(#2392bd, #fff, #fff); */
	background-image: radial-gradient(farthest-corner at 50% 50%, #2392bd, #2392bd, #fff, #fff);
}

 .iframe-youtube{
	display:flex; margin: auto; align: center; float:relative;
	padding-left: 700px;
 }
 #embed{
 	display:flex; margin: auto; align: center; 
 	width:100%;
 	max-width: 1000px;
	max-height: 400px;
/* 	position: absolute;
	top:2%;
	left: 25%; */
 }
.masthead {
	grid-area: header;
	/* background: #2392bd; */
	display:block; align:center; text-align:center;
	margin-left:auto;
	margin-right:auto; 
	margin-top:40;
	margin-bottom:40;
	border-radius: 20px;
	padding: 15px 15px 15px 15px;
	color: #fff;
	width:100%;
	/* #c6d8d3*/

	background-color: #2392bd;
	padding: 200;
	margin-bottom: 40px; /* matchced */
	/* #c6d8d3*/
	
	 word-wrap: break-word;
	 z-index: 3;
}
.sidebar {
	grid-area: sidebar;
	 word-wrap: break-word;
	 z-index: 3;
}
.footer {
	grid-area: footer;
	width: 100%;
	 word-wrap: break-word;
	 z-index: 3;
}
.main-content {
	grid-area: main;
	background: #black;
	z-index:2;
}


#bodyDiv{
margin: 40px;
/* border: 1px solid #2392BD; */
padding: 30px;
}

#tabArea{
/* 	 left-margin: 10%;
	 width: 100%;
	 margin: 40px;
	border: 1px solid #2392BD;
	padding: 30px; */
  }
  
  
  .tbl{
  background-color:#E0F5FF;border-color:#E0F5FF;color:#656565;text-align:center;vertical-align:center;
  }
  .tbl-btm{
  background-color: transparent;
  }
 .tbl_reply{
 background-color:#fff;border-color:#fff;color:#656565;text-align:center;vertical-align:center;
 }
  
  .btn , .button{
  background-color: #1c7597;
  color: white;
  border: 2px solid #1c7597;
  transition-duration: 0.3s;
  padding: 15px  30px 15px 30px;
  margin: 10px 10px;
  cursor: pointer #2392bd;
  font-size: 16px;
  border-radius: 20px;
 
  
}
.btn:hover {
  background-color: white; 
  color: #1c7597; 
  border: 2px solid #1c7597;
  padding: 20px  35px 20px 35px;
  margin: 10px 10px;
  cursor: pointer;
  font-size: 20px;
}
 

.container-avatar {
  position: relative;
  width: 20%;
  max-width: 200px;
  margin-left:10px;
  margin-right:10px;
}

.image-avatar {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.middle-avatar {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container-avatar:hover .image-avatar {
  opacity: 0.3;
}

.container-avatar:hover .middle-avatar {
  opacity: 1;
}

.text-avatar {
  background-color: #fff;
  /* border-radius: 50%; */
  opacity: 0.8;
  color: black;
  font-size: 12px;
  padding: 16px 32px;
  word-wrap: break-word;
  width: 11em;
}

/* div id= tabArea */
/* * {box-sizing: border-box} */

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Montserrat,sans-serif;
}


/* Style tab links */
#tab{
	 margin-left:15px;
	  margin-right:15px;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
  z-index:5;
  /* min-width: 150px; */
  /* border-radius: 5px; */
}

.tablink:hover {
  background-color: #c6d8d3;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  position: absolute;
  height: 100%;
  background-color: #2392bd;
  margin:auto;
   margin-left:15px;
  margin-right:15px;
  align:center;
   padding: 20px 20px 10px 10px;
    word-wrap: break-word;
   min-height: 400px;
   border-radius: 0 0 20px 20px;
}

#1-intro, #2-review, #3-qna, #4-refund, #5-teacher{
	top-margin: 200px;
}

#tab1{ border-radius: 20px 0 0 0 ;}
#tab5{ border-radius: 0 20px 0 0 ;}

.iframe-reply{
	/*display:block; margin: auto; align: center;  position:relative; */
}

#emptyHeart {
	font-size: 30px; 
	color: pink;
	font-weight: bold;
	background-color: transparent;
	border: none;
	border-radius: 50% 50%;
}

#emptyHeart:hover {
	font-size: 30px; 
	font-color: #2392bd;
	font-weight: bold;
	background-color: pink;
	border: none;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  	border-radius: 50% 50%;
}
#fullHeart{
		font-size: 24px; 
		color: pink;
		font-weight: bold;
		background-color: transparent;
		border: none;
		border-radius: 50% 50%;
}
#fullHeart:hover {
	font-size: 24px; 
		font-color: #2392bd;
		font-weight: bold;
		background-color: pink;
		border: none;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  	border-radius: 50% 50%;
}



/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2392bd; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}