<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clssMapper">

	<resultMap id="clssResultSet" type="Clss">
		<id property="cid" column="CID"/>
		<result property="clss_title" column="CLSS_TITLE"/>
		<result property="clss_price" column="CLSS_PRICE"/>
		<result property="clss_registration" column="CLSS_REGISTRATION"/>
		<result property="clss_update" column="CLSS_UPDATE"/>
		<result property="clss_category" column="CLSS_CATEGORY"/>
		<result property="clss_content" column="CLSS_CONTENT"/>
		<result property="clss_times" column="CLSS_TIMES"/>
		<result property="clss_start" column="CLSS_START"/>
		<result property="clss_end" column="CLSS_END"/>
		<result property="clss_duration" column="CLSS_DURATION"/>
		<result property="clss_min" column="CLSS_MIN"/>
		<result property="clss_max" column="CLSS_MAX"/>
		<result property="clss_enrolled" column="CLSS_ENROLLED"/>
		<result property="clss_policy" column="CLSS_POLICY"/>
		<result property="clss_status" column="CLSS_STATUS"/>
		<result property="view_count" column="VIEW_COUNT"/>
		<result property="clss_original_filename" column="CLSS_ORIGINAL_FILENAME"/>
		<result property="clss_rename_filename" column="CLSS_RENAME_FILENAME"/>
		<result property="clss_url" column="CLSS_URL"/>
		<result property="tchr_id" column="TCHR_ID"/>
		<result property="tchr_introduction" column="TCHR_INTRODUCTION"/>
		<result property="tchr_profile" column="TCHR_PROFILE"/>
		<result property="clss_comment" column="CLSS_COMMENT"/>
		<result property="clss_tags" column="CLSS_TAGS"/>
		
	</resultMap>
	
	<select id="tClssList" resultMap="clssResultSet">
		<!-- SELECT * FROM MEMBER
		LEFT JOIN CLSS ON(CLSS.TCHR_ID = MEMBER.ID)
		where id = #{ id } -->
		select * 
		from clss
		join member on (id=tchr_id)
		where id = #{ id} 
	</select>
	
	<select id="clssList" resultMap="clssResultSet">
		select * from clss
	</select>
	
	<select id="selectTClss" parameterType="_int" resultMap="clssResultSet">
		select * from clss
		where cid = #{ cid }
	</select>
	
	<select id="selectClss" parameterType="_int" resultMap="clssResultSet">
		select * from clss
		where cid = #{ cid }
	</select>
	
	<!-- 강사 클래스 수정하기 -->
	<update id="tUpdateClss">
		update clss
		set clss_title = #{clss_title},
			clss_original_filename = #{clss_original_filename},
			clss_rename_filename = #{clss_rename_filename},
			clss_min = #{clss_min},
			clss_max = #{clss_max},
			clss_duration = #{clss_duration},
			clss_times = #{clss_times},
			clss_start = #{clss_start},
			clss_end = #{clss_end},
			clss_url = #{clss_url},
			tchr_introduction = #{tchr_introduction},
			clss_content = #{clss_content},
			tchr_profile = #{tchr_profile},
			clss_policy = #{clss_policy},
			clss_update = sysdate,
			clss_tags = #{clss_tags},
			clss_status = 1	
		where cid = #{cid}
	</update>
	
	<!-- 기간 안지나고 미승인클래스 -->
	<select id="adminNlist" resultMap="clssResultSet">
		<![CDATA[
		select cid, clss_title, clss_status, clss_start, clss_end
		from clss
		join member on (tchr_id=id)
		where clss_end > sysdate
		and clss_status=1
		]]>
	</select>

	<!-- 승인된 클래스 -->
	<select id="adminYlist" resultMap="clssResultSet">
		select *
		from clss
		join member on (tchr_id=id)
		where clss_status=2
	</select>
	
	<!-- 기간지난 클래스 -->
	<select id="adminEndList" resultMap="clssResultSet">
		<![CDATA[
		select *
		from clss
		join member on (tchr_id=id)
		where clss_end < sysdate
		]]>
	</select>
	
	<!-- 승인거부한클래스 -->
	<select id="adminRlist" resultMap="clssResultSet">
		select *
		from clss
		join member on (tchr_id=id)
		where clss_status = 3
	</select>
	
	<select id="adminSelectClss" resultMap="clssResultSet">
		select * 
		from clss
		where cid=#{cid}
	</select>
	
	<!-- 사용자 마이페이지에 본인 클래스 내용 불러오기 -->
    <select id="myClssList" parameterType="string" resultMap="clssResultSet">
    	select *
		from clss
		join pay using (cid)
		where pid=#{id}
		and pstatus =4		<!-- pstatus 수정해야함 -->
    </select>
    
    
    <update id="addViewCount" parameterType="_int">
    	update clss
    	set view_count = view_count + 1
    	where cid = #{cid}
    </update>
    
    <insert id="insertTclss" parameterType="Clss">
    	insert into clss
    	values (
    		seq_cid.nextval, #{clss_title}, #{clss_price}, default, default, #{clss_category}, #{clss_content},
    		#{clss_times}, #{clss_start}, #{clss_end}, #{clss_duration}, #{clss_min}, #{clss_max}, DEFAULT, DEFAULT,DEFAULT,
    		DEFAULT,
    		#{clss_original_filename}, #{clss_rename_filename}, #{clss_url},
    		#{tchr_id}, #{tchr_introduction}, #{tchr_profile}, default, #{clss_tags}
    	)
    </insert>
    
    <!-- 관리자 클래스 승인 -->
    <update id="approveClss" parameterType="_int">
    	update clss
    	set
    	clss_status = 2
    	where cid = #{cid}
    </update>
    
    <!-- 관리자 클래스 거부 -->
    <update id="denyClss">
    	update clss
    	set
    	clss_status = 3,
    	clss_comment = #{clss_comment}
    	where cid = #{cid}
    </update>
    
    <!-- 관리자 삭제하기 -->
    <delete id="adminDeleteClss">
    	delete from clss
    	where cid = #{cid}
    </delete>
    
    
</mapper>

















