<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clssMapper">

	<resultMap id="clssResultSet" type="Clss">
		<id property="cid" column="CID"/>
		<result property="clss_title" column="CLSS_TITLE"/>
		<result property="clss_price" column="CLSS_PRICE"/>
		<result property="clss_registration" column="CLSS_REGISTRATION"/>
		<result property="clss_update" column="CLSS_UPDATE"/>
		<result property="clss_category" column="CLSS_CATEGORY"/>
		<result property="clss_content" column="CLSS_CONTENT"/>
		<result property="clss_times" column="CLSS_TIMES"/>
		<result property="clss_start" column="CLSS_START"/>
		<result property="clss_end" column="CLSS_END"/>
		<result property="clss_duration" column="CLSS_DURATION"/>
		<result property="clss_min" column="CLSS_MIN"/>
		<result property="clss_max" column="CLSS_MAX"/>
		<result property="clss_enrolled" column="CLSS_ENROLLED"/>
		<result property="clss_policy" column="CLSS_POLICY"/>
		<result property="clss_status" column="CLSS_STATUS"/>
		<result property="view_count" column="VIEW_COUNT"/>
		<result property="clss_original_filename" column="CLSS_ORIGINAL_FILENAME"/>
		<result property="clss_rename_filename" column="CLSS_RENAME_FILENAME"/>
		<result property="clss_url" column="CLSS_URL"/>
		<result property="tchr_id" column="TCHR_ID"/>
		<result property="tchr_introduction" column="TCHR_INTRODUCTION"/>
		<result property="tchr_profile" column="TCHR_PROFILE"/>
		<result property="clss_comment" column="CLSS_COMMENT"/>
		<result property="clss_tags" column="CLSS_TAGS"/>
		<result property="save_count" column="SAVE_COUNT"/>
	</resultMap>
	
	<resultMap type="PayMember" id="PayMember">
		<id column="id" property="id" />
		<result column="email" property="email" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="birthday" property="birthday" />
		<result column="gender" property="gender"/>
		<result column="phone" property="phone"/>
		<result column="pid" property="pid"/>
		<result column="cid" property="cid"/>
		<result column="pstatus" property="pstatus"/>
	</resultMap>
	
	
	<select id="tClssList" resultMap="clssResultSet">
		select * 
		from clss
		join member on (id=tchr_id)
		where id = #{ id} 
	</select>
	
	<!-- 뷰티/헬스 페이징처리 -->
	<select id="getListCount" resultType="_int">
		select count(*) from clss where clss_status =2 and clss_category like '%' || '뷰티' || '%'
	</select>
	
	<select id="getArtCount" resultType="_int">
		select count(*) from clss where clss_status =2 and clss_category like '%' || '미술' || '%'
	</select>
	
	<select id="getLanguageCount" resultType="_int">
		select count(*) from clss where clss_status =2 and clss_category like '%' || '언어' || '%'
	</select>
	
	<select id="getFinanceCount" resultType="_int">
		select count(*) from clss where clss_status =2 and clss_category like '%' || '머니' || '%'
	</select>
	
	<select id="getDataCount" resultType="_int">
		select count(*) from clss where clss_status =2 and clss_category like '%' || '데이터' || '%'
	</select>
	
	<select id="getOtherCount" resultType="_int">
		select count(*) from clss where clss_status =2 and clss_category like '%' || '기타' || '%'
	</select>
	
	
	<!-- 뷰티헬스 전체조회 -->
	<select id="clssList" resultMap="clssResultSet" parameterType="com.untoon.clss.model.vo.ClssPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2 and clss_category like '%' || '뷰티' || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="aclssList" resultMap="clssResultSet" parameterType="com.untoon.clss.model.vo.ClssPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2 and clss_category like '%' || '미술' || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="lclssList" resultMap="clssResultSet" parameterType="com.untoon.clss.model.vo.ClssPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2 and clss_category like '%' || '언어' || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="fclssList" resultMap="clssResultSet" parameterType="com.untoon.clss.model.vo.ClssPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2 and clss_category like '%' || '머니' || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="dclssList" resultMap="clssResultSet" parameterType="com.untoon.clss.model.vo.ClssPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2 and clss_category like '%' || '데이터' || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="oclssList" resultMap="clssResultSet" parameterType="com.untoon.clss.model.vo.ClssPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2 and clss_category like '%' || '기타' || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	
	
	
	
	<!-- 제목 검색 페이징처리 -->
	<select id="getSearchTitleListCount" resultType="_int" parameterType="string">
		select count(*) from clss
		where clss_title like '%' || #{keyword} || '%'
	</select>
	
	<select id="getSearchTagListCount" resultType="_int" parameterType="string">
		select count(*) from clss
		where clss_tags like '%' || #{keyword} || '%'
	</select>
	
	<select id="getSearchTeacherCount" resultType="_int" parameterType="string">
		select count(*) from clss
		where tchr_id like '%' || #{keyword} || '%'
		
		<!-- select count(*) from clss
		join member on (tchr_id=id)
		where name like '%' || #{keyword} || '%'
		'%김신%' -->
	</select>
	
	<select id="getSearchCategoryCount" resultType="_int" parameterType="string">
		select count(*) from clss
		where clss_category like '%' || #{keyword} || '%'
	</select>
	
	<!-- 제목검색 -->
	<select id="searchTitle" resultMap="clssResultSet" parameterType="com.untoon.common.SearchAndPage">
	<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2
		                and clss_title like '%' || #{keyword} || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 태그검색 -->
	<select id="searchTag" resultMap="clssResultSet" parameterType="com.untoon.common.SearchAndPage">
	<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2
		                and clss_tags like '%' || #{keyword} || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 강사검색 -->
	<select id="searchTeacher" resultMap="clssResultSet" parameterType="com.untoon.common.SearchAndPage">
	<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2
		                and tchr_id like '%' || #{keyword} || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 카테고리 검색 -->
	<select id="searchCategory" resultMap="clssResultSet" parameterType="com.untoon.common.SearchAndPage">
	<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2
		                and clss_category like '%' || #{keyword} || '%'
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	
	
	<select id="selectTClss" parameterType="_int" resultMap="clssResultSet">
		select * from clss
		where cid = #{ cid }
	</select>
	
	<select id="selectClss" parameterType="_int" resultMap="clssResultSet">
		select * from clss
		where cid = #{ cid }
	</select>
	
	<!-- 강사 클래스 수정하기 -->
	<update id="tUpdateClss">
		update clss
		set clss_title = #{clss_title},
			clss_original_filename = #{clss_original_filename},
			clss_rename_filename = #{clss_rename_filename},
			clss_min = #{clss_min},
			clss_max = #{clss_max},
			clss_duration = #{clss_duration},
			clss_times = #{clss_times},
			clss_start = #{clss_start},
			clss_end = #{clss_end},
			clss_url = #{clss_url},
			tchr_introduction = #{tchr_introduction},
			clss_content = #{clss_content},
			tchr_profile = #{tchr_profile},
			clss_policy = #{clss_policy},
			clss_update = sysdate,
			clss_tags = #{clss_tags},
			clss_status = 1	
		where cid = #{cid}
	</update>
	
	<!-- 기간 안지나고 미승인클래스 -->
	<select id="adminNlist" resultMap="clssResultSet" parameterType="com.untoon.common.SearchAndPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select *
						from clss
						join member on (tchr_id=id)
						where clss_end > sysdate
						and clss_status=1))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
		<!-- <![CDATA[
		select *
		from clss
		join member on (tchr_id=id)
		where clss_end > sysdate
		and clss_status=1
		]]> -->
	</select>
	
	<select id="getAdminNListCount" resultType="_int">
		<![CDATA[
		select count(*) from clss where clss_end > sysdate and clss_status=1
		]]>
	</select>
	
	<select id="getAdminYListCount" resultType="_int">
		<![CDATA[
		select count(*) from clss where clss_end > sysdate and clss_status=2
		]]>
	</select>
	
	<select id="getAdminRListCount" resultType="_int">
		<![CDATA[
		select count(*) from clss where clss_end > sysdate and clss_status=3
		]]>
	</select>
	
	<select id="getAdminEListCount" resultType="_int">
		<![CDATA[
		select count(*) from clss where clss_end < sysdate
		]]>
	</select>

	<!-- 승인된 클래스 -->
	<select id="adminYlist" resultMap="clssResultSet" parameterType="com.untoon.common.SearchAndPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select *
						from clss
						join member on (tchr_id=id)
						where clss_end > sysdate
						and clss_status=2))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 기간지난 클래스 -->
	<select id="adminEndList" resultMap="clssResultSet"  parameterType="com.untoon.common.SearchAndPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select *
						from clss
						join member on (tchr_id=id)
						where clss_end < sysdate
						))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 승인거부한클래스 -->
	<select id="adminRlist" resultMap="clssResultSet" parameterType="com.untoon.common.SearchAndPage">
		<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select *
						from clss
						join member on (tchr_id=id)
						where clss_end > sysdate
						and clss_status=3))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="adminSelectClss" resultMap="clssResultSet">
		select * 
		from clss
		where cid=#{cid}
	</select>
	
	<!-- 사용자 마이페이지에 본인 클래스 내용 불러오기 -->
    <select id="myClssList" parameterType="string" resultMap="clssResultSet">
    	select *
		from clss
		join pay using (cid)
		where pid=#{id}
		and pstatus =2		<!-- pstatus 수정해야함 -->
    </select>
    
    
    <update id="addViewCount" parameterType="_int">
    	update clss
    	set view_count = view_count + 1
    	where cid = #{cid}
    </update>
    
    <insert id="insertTclss" parameterType="Clss">
    	insert into clss
    	values (
    		seq_cid.nextval, #{clss_title}, #{clss_price}, default, default, #{clss_category}, #{clss_content},
    		#{clss_times}, #{clss_start}, #{clss_end}, #{clss_duration}, #{clss_min}, #{clss_max}, DEFAULT, #{clss_policy},DEFAULT,
    		DEFAULT,
    		#{clss_original_filename}, #{clss_rename_filename}, #{clss_url},
    		#{tchr_id}, #{tchr_introduction}, #{tchr_profile}, default, #{clss_tags}, default
    	)
    </insert>
    
    <!-- 관리자 클래스 승인 -->
    <update id="approveClss" parameterType="_int">
    	update clss
    	set
    	clss_status = 2
    	where cid = #{cid}
    </update>
    
    <!-- 관리자 클래스 거부 -->
    <update id="denyClss">
    	update clss
    	set
    	clss_status = 3,
    	clss_comment = #{clss_comment}
    	where cid = #{cid}
    </update>
    
    <!-- 관리자 삭제하기 -->
    <delete id="adminDeleteClss">
    	delete from clss
    	where cid = #{cid}
    </delete>
    
    
    <update id="addClssSave">
    	UPDATE 	CLSS
    	SET
    					SAVE_COUNT = SAVE_COUNT + 1
    	WHERE		CID = #{ cid }
    </update>
    
     <update id="delClssSave">
    	UPDATE 	CLSS
    	SET
    					SAVE_COUNT = SAVE_COUNT - 1
    	WHERE		CID = #{ cid }
    </update>
    
    <!-- 강사 본인회원 수강한 회원정보  -->
    <select id="teacherEnrolled" resultMap="PayMember">
    	select name, id, nickname, phone, gender
		from member
		join pay on (id=pid)
		where pstatus=2 and cid=#{cid}
    </select>
    
    <select id="getAListCount" resultType="_int">
    	select count(*) from clss where clss_status =2
    </select>
    
    <select id="clssAList" resultMap="clssResultSet" parameterType="com.untoon.clss.model.vo.ClssPage">
    	<![CDATA[
		select * 
		from (select rownum rnum, cid, clss_title, clss_price, clss_registration, clss_update, clss_category, clss_content, clss_times, clss_start, clss_end, clss_duration, clss_min,
		        clss_max, clss_enrolled, clss_policy, clss_status, view_count, clss_original_filename, clss_rename_filename, clss_url, tchr_id, tchr_introduction, tchr_profile,
		        clss_comment, clss_tags
		        from (select * from clss
		                where clss_status =2
		                order by cid desc))
		where rnum >= #{ startRow } and rnum <= #{endRow}
		]]>
    </select>
    
    <select id="mlike" resultMap="clssResultSet" parameterType="string">
    	select clss_title, clss_start, clss_end, save_count, tchr_id, cid
		from clss
		join save_clss using (cid)
		where id= #{id}
    </select>
</mapper>

















