<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qaMapper">

	<resultMap type="QA" id="resultQa">
		<id column="qid" property="qid" />
		<id column="cid" property="cid" />
		<result column="qwriter" property="qwriter" />
		<result column="qcontent" property="qcontent" />
		<result column="q_create_date" property="q_create_date" />
		<result column="q_modify_date" property="q_modify_date" />
		<result column="q_status" property="q_status" />
	</resultMap>

<!-- <, >, & 들어가면 사용하기 <![CDATA[ 쿼리문장 ]]>  -->

	<select id="selectQaList" parameterType="com.untoon.qa.model.vo.QA" resultMap="resultQa">
		SELECT * FROM QA 
		WHERE Q_STATUS = 'Y' AND CID = #{ CID }
		ORDER BY QID ASC	
	</select>
	
		<insert id="insertQa" parameterType="QA">
		INSERT INTO QA
		VALUES (SEQ_QID.NEXTVAL,  #{ cid }, #{ qwriter },
						#{ qcontent }, sysdate, sysdate, default)		
	</insert>
	
	<update id="updateQa" parameterType="QA">
		UPDATE  QA
				SET  QCONTENT = #{ qcontent },
						Q_MODIFY_DATE = SYSDATE
		 WHERE	QID= #{ qid }
	</update>
	
	<update id="deleteQa" parameterType="_int">
		UPDATE  QA
				SET  Q_STATUS='N',
						Q_MODIFY_DATE = SYSDATE
		WHERE	QID=#{ qid }
	</update>
	
	<!-- 마이페이지에서 1대1 문의내역 가져오기 -->
	<select id="myQa" resultMap="resultQa" parameterType="string">
		select * from qa
		where qwriter=#{id}
	</select>
	
</mapper>