<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<resultMap type="Review" id="resultReview">
		<id column="rid" property="rid" />
		<result column="cid" property="cid" />
		<result column="rwriter" property="rwriter" />
		<result column="rcontent" property="rcontent" />
		<result column="r_create_date" property="r_create_date" />
		<result column="r_modify_date" property="r_modify_date" />
		<result column="r_status" property="r_status" />
		<result column="ofile_r" property="ofile_r" />
		<result column="rfile_r" property="rfile_r" />
		<result column="save_count" property="save_count"/>
	</resultMap>
	
	<resultMap type="ReviewClss" id="resultReviewClss">
		<id column="rid" property="rid" />
		<result column="cid" property="cid" />
		<result column="rwriter" property="rwriter" />
		<result column="rcontent" property="rcontent" />
		<result column="r_create_date" property="r_create_date" />
		<result column="r_modify_date" property="r_modify_date" />
		<result column="r_status" property="r_status" />
		<result column="save_count" property="save_count"/>
		<result column="clss_title" property="clss_title"/>
		<result column="clss_start" property="clss_start"/>
		<result column="clss_end" property="clss_end"/>
		<result column="tchr_id" property="tchr_id"/>
		
	</resultMap>

<!-- <, >, & 들어가면 사용하기 <![CDATA[ 쿼리문장 ]]>  -->

	<select id="selectReviewList" parameterType="com.untoon.review.model.vo.Review"  resultMap="resultReview">
		SELECT * FROM REVIEW 
		WHERE R_STATUS = 'Y' AND CID = #{ cid }
		ORDER BY SAVE_COUNT DESC , RID ASC	 		<!-- 좋아요 많은 순, 그 다음에 등록된 후기 순 -->
	</select>
	
	<select id="selectReview" parameterType ="ReviewReply" resultMap="resultReview">
		SELECT * FROM REVIEW
		WHERE  	RID = #{ rid }
	</select>

	<insert id="insertReview" parameterType="Review">
		INSERT INTO REVIEW
		<if test="ofile_r != null"> <!-- VO객체에서 대소문자 주의 -->
		VALUES (
				seq_rid.nextval, #{ cid }, #{ rwriter }, #{ rcontent }, 
				sysdate, sysdate, default,
				#{ ofile_r }, #{ rfile_r },
				default
				)
		</if>
		<if test="ofile_r == null">
		VALUES (
				seq_rid.nextval, #{ cid }, #{ rwriter }, #{ rcontent }, 
				sysdate, sysdate, default,
				null, null,
				default
				)
		</if>
	</insert>
	
	<update id="updateReview" parameterType="Review">
	<!-- 후기에서 수정 가능한 것들: rcontent, 수정날짜, ofile, rfile -->
	UPDATE REVIEW
		SET 
			   RCONTENT = #{ rcontent }, 
			   R_MODIFY_DATE = sysdate
			   <if test="ofile_r == null">
			   , OFILE_R = null,
			   RFILE_R = null
			   </if>
			   <if test="ofile_r != null">
			   , OFILE_R = #{ ofile_r },
			   RFILE_R = #{ rfile_r }
			   </if>
			where rid = #{ rid }
			and r_status = 'Y'
	</update>
	
	<update id="deleteReview" parameterType="_int">
	UPDATE REVIEW
		SET
				R_STATUS='N',
				R_MODIFY_DATE=SYSDATE
		WHERE RID= #{ rid }
	</update>
	
	<!-- 마이페이지에서 본인 후기 불러오기 -->
	<select id="myReivew" parameterType="string" resultMap="resultReviewClss">
	select * from review
	join clss using (cid)
	where rwriter = #{ id}
	</select>

</mapper>


