<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewReplyMapper">

	<resultMap type="ReviewReply" id="resultReviewReply">
		<id column="rrid" property="rrid" />
		<result column="ref_rid" property="ref_rid" />
		<result column="ref_rcid" property="ref_rcid" />
		<result column="rrcontent" property="rrcontent" />		
		<result column="rrwriter" property="rrwriter" />
		<result column="rr_create_date" property="rr_create_date" />
		<result column="rr_modify_date" property="rr_modify_date" />
		<result column="rr_status" property="rr_status" />
	</resultMap>


	<select id="selectReviewReplyList" parameterType="com.untoon.review.model.vo.ReviewReply"  resultMap="resultReviewReply">
		SELECT * FROM REVIEW_REPLY 
		WHERE RR_STATUS = 'Y' AND REF_RID = #{ ref_rid }
		ORDER BY RRID ASC	 		<!-- 좋아요 많은 순, 그 다음에 등록된 후기 순 -->
	</select>
	
	<select id="selectReviewReply" parameterType ="ReviewReply" resultMap="resultReviewReply">
		SELECT * FROM REVIEW_REPLY
		WHERE  	RRID = # { rrid }
	</select>

	<insert id="insertReviewReply" parameterType="ReviewReply">
		INSERT INTO REVIEW_REPLY
		VALUES (
				seq_rrid.nextval, #{ ref_rid }, #{ ref_rcid }, #{ rrcontent }, #{ rrwriter },  
				sysdate, sysdate, default
				)
	</insert>
	
	<update id="updateReviewReply" parameterType="ReviewReply">
	<!-- 후기에서 수정 가능한 것들: rcontent, 수정날짜, ofile, rfile -->
	UPDATE REVIEW_REPLY
		SET 
			   RRCONTENT = #{ rrcontent }, 
			   RR_MODIFY_DATE = sysdate
			where rrid = #{ rrid }
			and r_status = 'Y'
	</update>
	
	<update id="deleteReviewReply" parameterType="_int">
	UPDATE REVIEW_REPLY
		SET
				RR_STATUS='N',
				RR_MODIFY_DATE=SYSDATE
		WHERE RRID= #{ rrid }
	</update>

</mapper>


