<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	
	<typeAliases>
		<typeAlias type="com.untoon.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.untoon.clss.model.vo.Clss" alias="Clss"/>
		<typeAlias type="com.untoon.pay.model.vo.Pay" alias="Pay"/>
		<typeAlias type="com.untoon.pay.model.vo.PayClss" alias="PayClss"/>
		<typeAlias type="com.untoon.review.model.vo.Review" alias="Review"/>
		<typeAlias type="com.untoon.qa.model.vo.QA" alias="QA"/>
		<typeAlias type="com.untoon.qa.model.vo.QaReply" alias="QaReply"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/clss-mapper.xml"/>
		<mapper resource="mappers/pay-mapper.xml"/>
		<mapper resource="mappers/review-mapper.xml"/>
		<mapper resource="mappers/qa-mapper.xml"/>
		<mapper resource="mappers/qareply-mapper.xml"/>
	</mappers>


</configuration>
