<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	
	<typeAliases>
		
      <typeAlias type="com.untoon.home.model.vo.Home" alias="Home"/>
      <typeAlias type="com.untoon.home.model.vo.Ad" alias="Ad"/>
      <typeAlias type="com.untoon.home.model.vo.HomeUpfile" alias="HomeUpfile"/>
   
		<typeAlias type="com.untoon.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.untoon.member.model.vo.PayMember" alias="PayMember"/>
		<typeAlias type="com.untoon.clss.model.vo.Clss" alias="Clss"/>
		<typeAlias type="com.untoon.pay.model.vo.Pay" alias="Pay"/>
		<typeAlias type="com.untoon.pay.model.vo.PayClss" alias="PayClss"/>
		
		<typeAlias type="com.untoon.save.model.vo.SaveClss" alias = "SaveClss"/>
		<!-- <typeAlias type="com.untoon.save.model.vo.SaveReview" alias = "SaveReview"/> -->
		
		<typeAlias type="com.untoon.review.model.vo.Review" alias="Review"/>
		<typeAlias type="com.untoon.review.model.vo.ReviewClss" alias="ReviewClss"/>
		<typeAlias type="com.untoon.review.model.vo.ReviewReply" alias="ReviewReply"/>
		
		<typeAlias type="com.untoon.qa.model.vo.QA" alias="QA"/>
		<typeAlias type="com.untoon.qa.model.vo.QaClss" alias="QaClss"/>
		<typeAlias type="com.untoon.qa.model.vo.QaReply" alias="QaReply"/>
	</typeAliases>
	
   
	
	<mappers>
	    <mapper resource ="mappers/home-mapper.xml"/>
      	<mapper resource = "mappers/ad-mapper.xml"/>
   
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/clss-mapper.xml"/>
		<mapper resource="mappers/pay-mapper.xml"/>
		
		<mapper resource="mappers/saveclss-mapper.xml"/>
		<!-- <mapper resource="mappers/savereview-mapper.xml"/> -->
				
		<mapper resource="mappers/review-mapper.xml"/>
		<mapper resource="mappers/reviewreply-mapper.xml"/>
		
		<mapper resource="mappers/qa-mapper.xml"/>
		<mapper resource="mappers/qareply-mapper.xml"/>
	</mappers>


</configuration>
