<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>UNTOON 언투온택터즈</title>
	<style>
		.notice{
			position: fixed;
			padding: 20px;
			border: 1px solid #ccc;
			top:100px;
			left:100px;
			}
	</style>
</head>
<body>
	<div class="notice"> Notice</div>
	<button onclick="deleteCookie();"> 쿠키 지우기 </button>
	
	<script>
	console.log(document.cookie); // CookieName = UNTOON
	var currentCookie = document.cookie;
	var cookieCheck = currentCookie.indexOf('UNTOON'); //cookiename
	
	console.log(cookieCheck); // 11 번째
	if(cookieCheck > -1){
		document.querySelector('.notice').style.display = 'none'; // 처음 본 사람이 아니다 = 광고 '.notice를 띄우지 말아라 = 다시 보지 않기
	} else {
		document.querySelector('.notice').style.display = 'block'; // 처음 온 사람이라 띄운다
	}
	
	///////////////////////////////////////
	
	var date = new Date(); //현재 날짜 반환
	// 변수 날짜 지정 변수 .setDate (새로운 날짜); = 7일 후의 날짜; =  date.getDate() +7
	console.log(date.getDate() + 7); //하지만 한국 표준시가 아니라 GMT 그리니치 평균시가 들어가야함
													
	date.getDate(date.getDate() + 7); //COOKIE 파기 날짜
	
	console.log(date);
	var setCookie='');
	setCookie += 'CookieName = UNTOON;'; // 마음대로 지정 가능
	setCookie += 'expires = '+ date.toUTCString(); // GMT , UTC 협정세계시 가 들어감
	
	console.log(setCookie);
	document.cookie = setCookie;
	
	
	// 쿠키 삭제 기능
	function deleteCookie(){ 
		var date = new Date(); 
		date.getDate(date.getDate() - 1);// 만기 날짜 = 오늘 날짜보다 하루전으로 지정하면 된다
		var setCookie='');
		setCookie += 'CookieName = UNTOON;';
		setCookie += 'expires = '+ date.toUTCString(); 
		document.cookie = setCookie;
	}
</script>
</body>
</html>