@charset "UTF-8";
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');

.0215css
{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)), url(/untoon/resources/images/drop.jpg);
	height: 100vh;
	background-position: center;
    background-size: cover;
}


* {margin:0; padding:0; box-sizing: border-box;}
body {
	font-family: 'Noto Sans KR', sans-serif;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	background-image:url(/untoon/resources/images/drop.jpg);
	background-position:center;
	background-size:cover;
}
body::before{
	content:"";
	position: absolute; z-index:1;
	top:0; right:0; bottom:0; left:0;
	background-color:rgba(0,0,0,.5);
	background-image:url(/untoon/resources/images/drop.jpg);
	background-position:center;
	background-size:cover;
}
.login-form{position: relative; z-index:2;}

.login-form h1{
	font-size:32px; 
	color:#4770a8;
	text-align:center;
	margin-bottom: 60px;
}

.login-area {
	width: 400px; position:relative;
	margin-top:	20px;
}
.login-area:first-child{margin-top:0;}
.login-area input {
	width: 100px;
	padding:20px 10px 10px;
	background-color:transparent;
	border:none;
	border-bottom:1px solid #999;
	font-size:18px; color:#a08080;
	outline:none;
}
.login-area label{
	position:absolute; left:10px; top:15px;
	font-size: 18px; color:#020c1f;
	transition: all .5s ease;
}
.login-area label.warning{
	color:red !important;
	animation:warning .3s ease;
	animation-iteration-count:3;
}
@keyframes warning{
	0% {transform: translatex(-8x);}
	25% {transform: translatex(8x);}
	50% {transform: translatex(-8x);}
	75% {transform: translatex(8x);}
}
.login-area input:focus + label,
.login-area input:valid + label{
	top:-2px;
	font-size: 13px; color:#166cea;
}

.btn-area{margin-top: 30px;}
.btn-area button{
	width:100%; height:50px;
	background:#cd853f;
	color: #fff;
	font-size: 20px;
	border:none;
	border-radius:25px;
	cursor:pointer;
}

.caption{
	margin-top: 20px;
	text-align: center;
}
.caption a{
	font-size:15px; color:#020c1f;
	text-decoration: none;
}













